@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("https://wallpaperaccess.com/full/1426870.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social-btn {
  color: white;
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.social-btn a {
  text-align: left;
}
